<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <title>New Pokemon page</title>
  </head>
  <body>
    <h1>Add a new Pokemon</h1>
    <form action="/pokemon" method="POST">
      Name: <input type="text" name="name" placeholder="Name" /><br />
      img : <input type="text" name="img" placeholder="Image" /><br />
      Type: <input type="text" name="type" placeholder="Type" /><br />
      Stats: <br />
      HP: <input type="text" name="hp" placeholder="HP" /><br />
      Attack: <input type="text" name="attack" placeholder="Attack" /><br />
      Defense: <input type="text" name="defense" placeholder="Defense" /><br />
      SP Attack:
      <input type="text" name="spattack" placeholder="SP Attack" /><br />
      SP Defense:
      <input type="text" name="spdefense" placeholder="SP Defense" /><br />
      Speed: <input type="text" name="speed" placeholder="Speed" /><br />
      <input type="submit" name="" value="Add Pokemon" />
    </form>
  </body>
</html>
