<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Pokemon page</title>
  </head>
  <body>
    <h1>Add a new Pokemon</h1>
    <form action="text">
      Name: <input type="text" name="name" placeholder="Name" /><br />
      Type: <input type="text" name="type" placeholder="Type" /><br />
      Stats: <br />
      HP: <input type="text" name="name" placeholder="HP" /><br />
      Attack: <input type="text" name="name" placeholder="Attack" /><br />
      Defense: <input type="text" name="name" placeholder="Defense" /><br />
      SP Attack: <input type="text" name="name" placeholder="SP Attack" /><br />
      SP Defense:
      <input type="text" name="name" placeholder="SP Defense" /><br />
      Speed: <input type="text" name="name" placeholder="Speed" /><br />
    </form>
  </body>
</html>
