<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
      img {
        height: 300px;
        width: 300px;
      }
    </style>
    <h1>Welcome to the store</h1>
    <div class="product">
      <% for(let i = 0; i < items.length; i++) { %> <%= items[i].name %>
      <a href="/items/<%= items[i].id; %>"
        ><img src="<%= items[i].img%>" alt="no pic"
      /></a>
      <% } %>
    </div>
  </body>
</html>
